body{
    background-color: rgb(238, 167, 75);
}
#inputMeal{
width: 400px;
padding: 5px;
font-size: 15px;
}
#searchBtn{
    padding: 5px;
}
.input-search{
    text-align: center;
    align-items: center;
}